[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Repository for my C codeBlocks exercises
[access "refs/*"]
	owner = group user/fabricebeenetic
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/fabricebeenetic
	label-Verified = -1..+1 group user/fabricebeenetic
	push = group user/fabricebeenetic
	read = group user/fabricebeenetic
	rebase = group user/fabricebeenetic
	removeReviewer = group user/fabricebeenetic
	submit = group user/fabricebeenetic
[access "refs/heads/*"]
	create = group user/fabricebeenetic
	push = +force group user/fabricebeenetic
	pushMerge = group user/fabricebeenetic
	read = group user/fabricebeenetic
[access "refs/tags/*"]
	push = group user/fabricebeenetic
	push = +force group user/fabricebeenetic
